app:
  tool-url: ${TOOL_HOST_URL:http://localhost:8085/api/v1/tools/}
  scheduler-interval: PT10S


spring:
  application:
    name: rent

  datasource:
    url: jdbc:postgresql://${RENT_DB_HOST:localhost}:${RENT_DB_PORT:5434}/${RENT_DB_NAME}
    username: ${RENT_USERNAME}
    password: ${RENT_PASSWORD}
    driverClassName: org.postgresql.Driver

minio:
  bucket: images-ad
  host: ${MINIO_HOST_TOOL:http://localhost:9000}
  host-image: ${MINIO_HOST_IMAGE:http://localhost:9000}
  user: minio_user
  password: minio_password

server:
  port: 8086


logging:
  config: classpath:log4j2-plain.xml
