spring:
  application:
    name: tool

  datasource:
    url: jdbc:postgresql://${TOOL_DB_HOST:localhost}:${TOOL_DB_PORT:5433}/${TOOL_DB_NAME:tool}
    username: ${TOOL_USERNAME}
    password: ${TOOL_PASSWORD}
    driverClassName: org.postgresql.Driver

minio:
  bucket: images
  host: ${MINIO_HOST_TOOL:http://localhost:9000}
  host-image: ${MINIO_HOST_IMAGE:http://localhost:9000}
  user: ${MINIO_USER:minio_user}
  password: ${MINIO_PASSWORD:minio_password}


server:
  port: 8085

logging:
  config: classpath:log4j2-plain.xml

app:
  base-swagger-url: ${TOOL_SWAGGER_URL:https://localhost:8086}

