spring:
  application:
    name: tool

  datasource:
    url: jdbc:postgresql://${TOOL_DB_HOST:localhost}:${TOOL_DB_PORT:5433}/${TOOL_DB_NAME}
    username: ${TOOL_USERNAME}
    password: ${TOOL_PASSWORD}
    driverClassName: org.postgresql.Driver

server:
  port: 8085

logging:
  config: classpath:log4j2-plain.xml


