services:
  postgresql-tool:
    container_name: postgresql-tool
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: tool
      POSTGRES_USER: ${TOOL_USERNAME}
      POSTGRES_PASSWORD: ${TOOL_PASSWORD}
    volumes:
      - postgresql-tool:/var/lib/postgresql/data
    networks:
      - backend-tool

  liquibase-migrations-tool:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql-tool
    command:
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql-tool:5432/tool
      - --username=${TOOL_USERNAME}
      - --password=${TOOL_PASSWORD}
      - update
    volumes:
      - ./tool/src/main/resources/db.changelog:/liquibase/changelog
    networks:
      - backend-tool

  postgresql-rent:
    container_name: postgresql-rent
    image: postgres:16
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: rent
      POSTGRES_USER: ${RENT_USERNAME}
      POSTGRES_PASSWORD: ${RENT_PASSWORD}
    volumes:
      - postgresql-rent:/var/lib/postgresql/data
    networks:
      - backend-tool

  liquibase-migrations-rent:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql-rent
    command:
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql-rent:5432/rent
      - --username=${RENT_USERNAME}
      - --password=${RENT_PASSWORD}
      - update
    volumes:
      - ./rent/src/main/resources/db.changelog:/liquibase/changelog
    networks:
      - backend-tool

  postgresql-user:
    container_name: postgresql-user
    image: postgres:16
    ports:
      - "5437:5432"
    environment:
      POSTGRES_DB: user
      POSTGRES_USER: ${USER_USERNAME}
      POSTGRES_PASSWORD: ${USER_PASSWORD}
    volumes:
      - postgresql-user:/var/lib/postgresql/data
    networks:
      - backend-tool

  liquibase-migrations-user:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql-user
    command:
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql-user:5432/user
      - --username=${USER_USERNAME}
      - --password=${USER_PASSWORD}
      - update
    volumes:
      - ./user/src/main/resources/db.changelog:/liquibase/changelog
    networks:
      - backend-tool

#  tool:
#    image: ghcr.io/buchnevdmitry/backend-9.2/rentool/tool:pr-18
#    ports:
#      - "8085:8085"
#    depends_on:
#      - postgresql-tool
#      - liquibase-migrations-tool
#      - minio
#    env_file:
#      - ./env.dev
#    networks:
#      - backend-tool

#  user:
#    image: ghcr.io/buchnevdmitry/backend-9.2/rentool/user:pr-21
#    ports:
#      - "8087:8087"
#    depends_on:
#      - postgresql-user
#      - liquibase-migrations-user
#    env_file:
#      - ./env.dev
#    networks:
#      - backend-tool

  minio:
    image: minio/minio:latest
    container_name: minio
    networks:
      - backend-tool
    environment:
      - MINIO_ROOT_USER=${MINIO_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${MINIO_SECRET_KEY}
    command: server ~/minio --console-address :9090
    ports:
      - '9090:9090'
      - '9000:9000'
    volumes:
      - minio-data:/minio

  keycloak-db:
    image: postgres:16
    container_name: keycloak_db
    env_file:
      - ./env.dev
    ports:
      - "25432:5432"
    networks:
      - backend-tool
    volumes:
      - keycloak-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    container_name: keycloak
    depends_on:
      - keycloak-db
    command: start-dev
    env_file:
      - ./env.dev
    ports:
      - "8180:8080"
    networks:
      - backend-tool


volumes:
  postgresql-tool: { }
  postgresql-rent: { }
  postgresql-user: { }
  minio-data: { }
  keycloak-data: { }

networks:
  backend-tool: { }
