services:
  postgresql:
    container_name: postgresql-tool
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: tool
      POSTGRES_USER: ${TOOL_USERNAME}
      POSTGRES_PASSWORD: ${TOOL_PASSWORD}
    volumes:
      - postgresql:/var/lib/postgresql/data
    networks:
      - backend

  liquibase-migrations:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql
    command:
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql-tool:5432/tool
      - --username=${TOOL_USERNAME}
      - --password=${TOOL_PASSWORD}
      - update
    volumes:
      - ./tool/src/main/resources/db.changelog:/liquibase/changelog
    networks:
      - backend


volumes:
  postgresql: { }
  prometheus_data: { }
  grafana_data: { }

networks:
  backend: { }
