services:
  postgresql-tool:
    container_name: postgresql-tool
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: tool
      POSTGRES_USER: ${TOOL_USERNAME}
      POSTGRES_PASSWORD: ${TOOL_PASSWORD}
    volumes:
      - postgresql-tool:/var/lib/postgresql/data
    networks:
      - backend-tool

  liquibase-migrations-tool:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql-tool
    command:
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql-tool:5432/tool
      - --username=${TOOL_USERNAME}
      - --password=${TOOL_PASSWORD}
      - update
    volumes:
      - ./tool/src/main/resources/db.changelog:/liquibase/changelog
    networks:
      - backend-tool

  postgresql-rent:
    container_name: postgresql-rent
    image: postgres:16
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: rent
      POSTGRES_USER: ${RENT_USERNAME}
      POSTGRES_PASSWORD: ${RENT_PASSWORD}
    volumes:
      - postgresql-rent:/var/lib/postgresql/data
    networks:
      - backend-tool

  liquibase-migrations-rent:
    image: liquibase/liquibase:4.25
    depends_on:
      - postgresql-rent
    command:
      - --changelog-file=master.xml
      - --driver=org.postgresql.Driver
      - --url=jdbc:postgresql://postgresql-rent:5432/rent
      - --username=${RENT_USERNAME}
      - --password=${RENT_PASSWORD}
      - update
    volumes:
      - ./rent/src/main/resources/db.changelog:/liquibase/changelog
    networks:
      - backend-tool

  tool:
    image: ghcr.io/buchnevdmitry/backend-9.2/rentool/tool:pr-15
    depends_on:
      - liquibase-migrations-tool
    environment:
      TOOL_DB_NAME: tool
      TOOL_USERNAME: postgres
      TOOL_PASSWORD: postgres

volumes:
  postgresql-tool: { }
  postgresql-rent: { }

networks:
  backend-tool: { }
